#firc { /* flash */
  visibility: hidden;
}

.tab-buttons {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
}

#tabs {
  position: absolute;
  top: 30px;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 640px;
  background-color: #ff6;
}

.tab {
  height: 100%;
}

.on {
  visibility: visible;
}

.off {
  display: none;
  visibility: hidden;
}

.notice {
  display: block;
  text-align: center;
  margin: 15px 125px 10px 125px;
  padding: 10px;
  width: 360px;
  border-radius: 10px;
  background-color: #fe3;
  box-shadow: inset -5px -5px 10px -5px #da0;
}

.notice-message {
  display: inline;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Nanum Gothic';
  color: #940;
}

.notice-time {
  display: inline;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-size: 9px;
  font-family: 'Nanum Gothic';
  color: #fff;
  border-radius: 10px;
  background-color: #333;
}

.chat {
  display: block;
}

.chat-nickname {
  text-align: center;
  display: block;
  float: left;
  margin: 10px;
  padding: 0 5px 0 5px;
  min-width: 70px;
  font-size: 11px;
  font-family: 'Nanum Gothic';
  border-radius: 5px;
  color: #fff;
  background-color: #321;
  box-shadow: 0 1px #fff;
}

.owner {
  background-color: #d33;
}

.operator {
  background-color: #3a3;
}

.half-operator {
  background-color: #33b;
}

.voice {
  background-color: #864;
}

.chat-img {
  display: block;
  clear: left;
  float: left;
  margin: 15px 0 10px 10px;
  width: 80px;
  height: 80px;
  border-radius: 20px;
}

.chat-message {
  display: inline;
  font-size: 15px;
  font-family: 'Nanum Gothic';
  color: #000;
}

.chat-time {
  display: inline;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-size: 9px;
  font-family: 'Nanum Gothic';
  color: #fff;
  border-radius: 10px;
  background-color: #333;
}

.chat-box {
  float: left;
  width: 430px;
  padding: 10px;
  padding-top: 5px;
  margin-left: 30px;
  margin-bottom: 15px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  background-color: #fff;
  box-shadow: inset -5px -5px 10px -5px #bbb;
}

.chat-box:before {
  float: left;
  border-radius: 3px 0 10px 0;
  margin: -15px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  content: '';
  transform: skewX(45deg);
  -moz-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  -o-transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  background-color: #fff;
}