#firc { /* flash */
  visibility: hidden;
}

.tab-buttons {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
}

#tabs {
  position: absolute;
  top: 30px;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 640;
  background-color: #333;
}

.tab {
  height: 100%;
}

.on {
  visibility: visible;
}

.off {
  display: none;
  visibility: hidden;
}

.notice {
  display: block;
  text-align: center;
  margin: 15px 125px 10px 125px;
  padding: 5px;
  width: 380px;
  border-radius: 10px;
  background-color: #ddd;
}

.notice-message {
  display: inline;
  font-size: 15px;
  font-weight: bold;
}

.notice-time {
  display: inline;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 11px;
  color: #fff;
  border-radius: 10px;
  background-color: #999;
}

.chat {
  display: block;
}

.chat-nickname {
  text-align: center;
  display: block;
  float: left;
  margin: 10px;
  padding: 0 5px 0 5px;
  min-width: 70px;
  font-size: 11px;
  border-radius: 5px;
  background-color: #eee;
}

.chat-img {
  display: block;
  clear: left;
  float: left;
  margin: 15px 0 10px 10px;
  width: 80px;
  height: 80px;
  border-radius: 20px;
}

.chat-message {
  display: inline;
  font-size: 15px;
}

.chat-time {
  display: inline;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 11px;
  color: #fff;
  border-radius: 10px;
  background-color: #999;
}

.chat-box {
  float: left;
  width: 450px;
  padding: 5px;
  margin-left: 30px;
  margin-bottom: 15px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  background-color: #eee;
}

.chat-box:before {
  float: left;
  border-radius: 3px 0 10px 0;
  margin: -10px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  content: '';
  transform: skewX(45deg);
  -moz-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  -o-transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  background-color: #eee;
}