#firc { /* flash */
  visibility: hidden;
}

.tab-buttons {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
}

.tab {
  position: absolute;
  top: 30px;
  left: 0;
  overflow-y: scroll;
  width: 640;
  height: 100%;
}

.on {
  visibility: visible;
}

.off {
  display: none;
  visibility: hidden;
}

.notice {
  display: block;
  margin: 50px 100px 50px 100px;
  padding: 5px;
  width: 430px;
  border-radius: 10px;
  background-color: #abc;
}

.notice-message {
  display: inline;
}

.notice-time {
  display: inline;
  margin-left: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #def;
}

.chat {
  display: block;
}

.chat-profile {
  float: left;
}

.chat-profile-img {
  display: inline-block;
  margin: 10px;
  width: 80px;
  height: 80px;
  border-radius: 20px;
}

.chat-profile-nickname {
  text-align: center;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: #abc;
}

.chat-message {
  display: inline;
}

.chat-time {
  display: inline;
  margin-left: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #def;
}

.chat-box {
  float: left;
  width: 530px;
  padding: 5px;
  margin-left: 10px;
  margin-top: 35px;
  border-radius: 10px;
  background-color: #abc;
}